# Query knowledge graphs and embeddings with KGTK Kypher-V

Kypher-V supports import and queries over vector data. Kypher-V extends
Kypher to allow work with unstructured data such as text, images, and so
on, represented by embedding vectors. Kypher-V provides efficient storage,
indexing and querying of large-scale vector data on a laptop. It is fully
integrated into Kypher to enable expressive hybrid queries over
Wikidata-size structured and unstructured data. To the best of our
knowledge, this is the first system providing such a functionality in a
query language for knowledge graphs.

Please see the [**Kypher-V Manual**](https://kgtk.readthedocs.io/en/latest/transform/query/#kypher-v)
for an introduction to the basic concepts and usage.

<A NAME="setup"></A>
### Setup

Some preliminaries to facilitate command invocation and result formatting:

In [1]:
import re
from IPython.display import display, HTML
from kgtk.functions import kgtk

def show_html(img_width=150):
    """Display command output in 'out' as HTML after munging image links for inline display."""
    output = '\n'.join(out)
    html = re.sub(r'<td>&quot;(https?://upload.wikimedia.org/[^<]+)&quot;</td>', 
                  f'<td style="width:{img_width}px;vertical-align:top"><img " src="\\1"/></td>', 
                  output)
    display(HTML(html))

The Kypher-V example queries in this notebook assume the existence of a number of similarity
graph caches in the `DB` directory, which are all defined here via shell variables:

In [4]:
DB="/kgtk-data/kypherv"
%env DB={DB}
%env MAIN={DB}/wikidata-20221102-dwd-v8-main.sqlite3.db
%env COMPLEX={DB}/wikidata-20221102-dwd-v8-complex-embeddings.sqlite3.db
%env TRANSE={DB}/wikidata-20221102-dwd-v8-transe-embeddings.sqlite3.db
%env ABSTRACT={DB}/wikidata-20221102-dwd-v8-abstract-embeddings-large.sqlite3.db
%env IMAGE={DB}/wikimedia-capcom-image-embeddings-v2.sqlite3.db

env: DB=/kgtk-data/kypherv
env: MAIN=/kgtk-data/kypherv/wikidata-20221102-dwd-v8-main.sqlite3.db
env: COMPLEX=/kgtk-data/kypherv/wikidata-20221102-dwd-v8-complex-embeddings.sqlite3.db
env: TRANSE=/kgtk-data/kypherv/wikidata-20221102-dwd-v8-transe-embeddings.sqlite3.db
env: ABSTRACT=/kgtk-data/kypherv/wikidata-20221102-dwd-v8-abstract-embeddings-large.sqlite3.db
env: IMAGE=/kgtk-data/kypherv/wikimedia-capcom-image-embeddings-v2.sqlite3.db

If you copied the graph caches and their associated `.faiss.idx` ANNS index files
to a different location, please adjust the paths and definitions accordingly.

Throughout the notebook we use three different invocation styles for
the `kgtk` command to better control the appearance of the generated output.
We either use it via the `!kgtk ...` syntax directly, use the `kgtk(...)`
function which produces an HTML rendering of a Pandas frame containing the
result, or we use the `show_html` function for some additional control on
how long texts and inline images are displayed.  All of these incantations
should be straightforward to translate into a shell environment if needed.

<A NAME="graph-caches"></A>
### Similarity graph caches

The examples in this notebook rely on several standard and similarity
graph caches based on `wikidata-20221102-dwd-v8`.  These graph caches are
available in the `DB` directory of the `ckg06` server from where they can be
copied or accessed directly in example queries.  It will generally not be
possible to run the notebook directly from that server, so if you want to
run and experiment with the notebook in a Jupyter environment, you have to
copy the graph caches to a different location where a notebook server can be run.
In this case, make sure to also copy the associated ANNS index files that end in
a `.faiss.idx` extension.

This notebook does not show how the individual similarity caches were
constructed.  To see how that can be done, please consult
the [**Kypher-V Manual**](https://kgtk.readthedocs.io/en/latest/transform/query/#kypher-v)
or look at the respective `*.db.build.txt` files in the `DB` directory.  For reference,
we show just one incantation here on how the `COMPLEX` graph cache was built.  Other
graph caches were built similarly with some modifications to adjust for differences in
the embedding data used (for `COMPLEX` this takes about 2.5-3 hours to run on a laptop):

```
$ export WD=.../datasets/wikidata-20221102-dwd-v8

$ cat $WD/wikidatadwd.complEx.graph-embeddings.txt | sed -e 's/ /\t/' \
      | kgtk --debug add-id --no-input-header=False --input-column-names node1 node2 \
                   --implied-label emb \
           / query --gc $DB/wikidata-20221102-dwd-v8-complex-embeddings.sqlite3.db \
                   -i - --as complex \
                   --idx vector:node2/nn/ram=25g/nlist=16k mode:valuegraph \
                   --single-user --limit 5
```

We use the following similarity graph caches which can be combined
with a main graph cache using one or more `--auxiliary-cache` or `--ac`
options to the `query` command.  The `COMPLEX` graph cache contains
59M 100-D ComplEx graph embeddings:

In [3]:
!kgtk query --gc $COMPLEX --sc

Graph Cache:
DB file: /kgtk-data/kypherv/wikidata-20221102-dwd-v8-complex-embeddings.sqlite3.db
  size:  28.92 GB   	free:  0 Bytes   	modified:  2022-12-15 20:40:26

KGTK File Information:
complex:
  size:  0 Bytes   	modified:  2022-12-15 17:55:31   	graph:  graph_1

Graph Table Information:
graph_1:
  size:  29.76 GB   	created:  2022-12-15 17:55:31
  header:  ['node1', 'label', 'node2', 'id']

The `TRANSE` graph cache contains 59M 100-D TransE graph embeddings:

In [4]:
!kgtk query --gc $TRANSE --sc

Graph Cache:
DB file: /kgtk-data/kypherv/wikidata-20221102-dwd-v8-transe-embeddings.sqlite3.db
  size:  28.92 GB   	free:  0 Bytes   	modified:  2022-12-17 11:39:02

KGTK File Information:
transe:
  size:  0 Bytes   	modified:  2022-12-16 14:09:02   	graph:  graph_1

Graph Table Information:
graph_1:
  size:  29.76 GB   	created:  2022-12-16 14:09:02
  header:  ['node1', 'node2', 'label', 'id']

The `ABSTRACT` graph cache contains the sentences and embedding vectors
generated from the first sentences of Wikipedia short abstracts.  It
contains about 6M 1024-D Roberta large vectors (**Note**: these are different
embeddings than the ones used and reported on in the 2022 Wikidata Workshop paper,
therefore, the query results in this notebook are somewhat different):

In [5]:
!kgtk query --gc $ABSTRACT --sc

Graph Cache:
DB file: /kgtk-data/kypherv/wikidata-20221102-dwd-v8-abstract-embeddings-large.sqlite3.db
  size:  29.37 GB   	free:  0 Bytes   	modified:  2023-01-19 15:02:30

KGTK File Information:
abstract:
  size:  0 Bytes   	modified:  2023-01-19 13:24:19   	graph:  graph_1
sentence:
  size:  256.32 MB   	modified:  2023-01-04 13:53:44   	graph:  graph_2

Graph Table Information:
graph_1:
  size:  28.21 GB   	created:  2023-01-19 13:24:19
  header:  ['node1', 'label', 'node2', 'id']
graph_2:
  size:  1.23 GB   	created:  2023-01-19 15:01:41
  header:  ['node1', 'label', 'node2', 'id']

The `IMAGE` graph cache contains image embeddings published by the
<a href="https://techblog.wikimedia.org/2021/09/09/the-wikipedia-image-caption-matching-challenge-and-a-huge-release-of-image-data-for-research/">
Wikipedia image/caption matching challenge</a>.  The embeddings are 2048-D vectors
taken from the second-to-last layer of a ResNet-50 neural network trained with
Imagenet data.  We only use the 2.7M images associated with English Wikipedia
pages.  The resulting vector graph cache is shown here:

In [6]:
!kgtk query --gc $IMAGE --sc

Graph Cache:
DB file: /kgtk-data/kypherv/wikimedia-capcom-image-embeddings-v2.sqlite3.db
  size:  24.39 GB   	free:  0 Bytes   	modified:  2023-01-11 14:10:32

KGTK File Information:
wiki_image:
  size:  0 Bytes   	modified:  2023-01-11 12:54:36   	graph:  graph_1

Graph Table Information:
graph_1:
  size:  24.42 GB   	created:  2023-01-11 12:54:36
  header:  ['node1', 'label', 'node2', 'id', 'page_url', 'qnode']

Finally, we also use a standard Wikidata graph cache for the claims and
labels of `wikidata-20221102-dwd-v8`.  It is called `MAIN` below.

<A NAME="vector-tables"></A>
### Vector tables are regular KGTK files

Any KGTK representation that associates a node or edge ID with a vector
will work.  An edge format we commonly use is a `node1` pointing to a vector
literal in `node2` via an `emb` edge (but any label will do).  For example,
here we show the first three embedding edges in `COMPLEX` (the `node2;_kgtk_vec_qcell`
column is an auxiliary column automatically computed by ANNS indexing):

In [7]:
kgtk("""query --gc $COMPLEX -i complex --limit 3""")

,node1,label,node2,id,node2;_kgtk_vec_qcell
0,Q102108199,emb,b'x13x99x13?x96xb7xf9xbdxb0x99x0fxbexf1xd4|>&x...,E465008,0
1,Q28980109,emb,b'xa1xdax8e=xdfx17x1e>xffxa4y=xf8+(xbeaxb5!xbd...,E686337,0
2,Q42012492,emb,b'txb8xe4xbexfcR;?x00xd6xd1>x87x1fxcdxbeTIx88x...,E1762936,0

<A NAME="vector-computation"></A>
### Vector computation

The simplest operation in Kypher-V is a similarity computation between two vectors
which we perform here using the `ABSTRACT` graph cache:

In [6]:
kgtk(""" 
      query --gc $MAIN --ac $ABSTRACT
      -i abstract -i labels
      --match 'abstract: (x:Q868)-->(xv),
                         (y:Q913)-->(yv),
               labels:   (x)-->(xl), (y)-->(yl)'
      --return 'xl as xlabel, yl as ylabel, kvec_cos_sim(xv, yv) as sim'
     """)

           xlabel         ylabel       sim
0  'Aristotle'@en  'Socrates'@en  0.816283

<A NAME="brute-force-search"></A>
### Brute-force similarity search

A more interesting operation is *similarity search* where we look
for the most similar matches for a given seed.  In the query below, we
use a simple but expensive brute-force search over about 10,000 input
vectors by computing similarities between `x` and each possible `y`,
then sorting and returning the top-10.  This is still pretty fast
given that the set of inputs is fairly small:

In [8]:
kgtk("""
      query --gc $MAIN --ac $ABSTRACT
      -i abstract -i labels -i claims
      --match 'abstract: (x:Q913)-->(xv), (y)-->(yv),
               claims:   (y)-[:P106]->(:Q4964182),
               labels:   (x)-->(xl), (y)-->(yl)'
      --return 'xl as xlabel, yl as ylabel, kvec_cos_sim(xv, yv) as sim'
      --order  'sim desc'
      --limit 10
     """)

          xlabel                   ylabel       sim
0  'Socrates'@en            'Socrates'@en  1.000000
1  'Socrates'@en   'Adamantios Korais'@en  0.873166
2  'Socrates'@en            'Prodicus'@en  0.872791
3  'Socrates'@en          'Protagoras'@en  0.870216
4  'Socrates'@en  'Manuel Chrysoloras'@en  0.868033
5  'Socrates'@en               'Cebes'@en  0.867012
6  'Socrates'@en              'Pyrrho'@en  0.866274
7  'Socrates'@en           'Menedemus'@en  0.863220
8  'Socrates'@en            'Epicurus'@en  0.861731
9  'Socrates'@en            'Xenophon'@en  0.860759

There are about 9M Q5's (humans) in Wikidata, 1.8M of which have short abstract vectors:

In [9]:
kgtk("""
      query --gc $MAIN --ac $ABSTRACT
      -i abstract -i claims
      --match 'abstract: (x)-->(),
               claims:   (x)-[:P31]->(:Q5)'
      --return 'count(distinct x)'
     """)

   count(DISTINCT db1_graph_1_c1."node1")
0                                 1801484

If we used the same brute-force search from above on this much larger set,
it would take about 2 min to run (which is why this command is disabled):

In [ ]:
!time DISABLED kgtk query --gc $MAIN \
                 --ac $ABSTRACT \
      -i abstract -i labels -i claims \
      --match 'abstract: (x:Q913)-->(xv), (y)-->(yv), \
               claims:   (y)-[:P31]->(:Q5), \
               labels:   (x)-->(xl), (y)-->(yl)' \
      --return 'xl as xlabel, yl as ylabel, kvec_cos_sim(xv, yv) as sim' \
      --order  'sim desc' \
      --limit 10

```
xlabel	ylabel	sim
'Socrates'@en	'Socrates'@en	1.0000001192092896
'Socrates'@en	'Adamantios Korais'@en	0.8731658458709717
'Socrates'@en	'Prodicus'@en	0.872790515422821
'Socrates'@en	'Protagoras'@en	0.8702158331871033
'Socrates'@en	'Manuel Chrysoloras'@en	0.8680326342582703
'Socrates'@en	'Cebes'@en	0.8670117259025574
'Socrates'@en	'Pyrrho'@en	0.8662737011909485
'Socrates'@en	'Menedemus'@en	0.8632197380065918
'Socrates'@en	'Epicurus'@en	0.8617314696311951
'Socrates'@en	'Xenophon'@en	0.8607585430145264
52.997u 15.548s 1:50.53 62.0%	0+0k 19477248+136io 0pf+0w
```

<A NAME="indexed-search"></A>
### Indexed similarity search

For much faster search, we use an ANNS index constructed when the vector data
was imported which now runs in less than a second compared to 5 minutes before.
Results here are slightly different from above, since it does not restrict on
occupation = philosopher (we will address that later):

In [11]:
kgtk("""
      query --gc $MAIN --ac $ABSTRACT
      -i abstract -i labels -i claims
      --match 'abstract: (x:Q913)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 5, nprobe: 4}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
      --limit 10
     """)

          xlabel                   ylabel       sim
0  'Socrates'@en            'Socrates'@en  1.000000
1  'Socrates'@en   'Adamantios Korais'@en  0.873166
2  'Socrates'@en            'Prodicus'@en  0.872791
3  'Socrates'@en  'Manuel Chrysoloras'@en  0.868033
4  'Socrates'@en               'Cebes'@en  0.867012

<A NAME="similarity-join"></A>
### Full similarity join

Below we query for three philosophers' top-k similar neighbors that are also humans and have
occupation (`P106`) philosopher.  Dynamic scaling ensures that `k` gets increased dynamically
up to `maxk` until we've found enough qualifying results for each:

In [12]:
kgtk("""
      query --gc $MAIN --ac $ABSTRACT
      -i abstract -i labels -i claims
      --match 'abstract: (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 5, maxk: 1024, nprobe: 4}]->(y),
               claims:   (y)-[:P106]->(:Q4964182),
                         (y)-[:P31]->(:Q5),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q859", "Q868", "Q913"] and x != y'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                   ylabel       sim
0       'Plato'@en         'Aenesidemus'@en  0.936797
1       'Plato'@en           'Aristotle'@en  0.928277
2       'Plato'@en           'Menedemus'@en  0.926272
3       'Plato'@en             'Hicetas'@en  0.923380
4       'Plato'@en    'Philo of Larissa'@en  0.921708
5   'Aristotle'@en    'Philo of Larissa'@en  0.931010
6   'Aristotle'@en          'Speusippus'@en  0.930034
7   'Aristotle'@en               'Plato'@en  0.928277
8   'Aristotle'@en             'Hicetas'@en  0.927509
9   'Aristotle'@en    'Bryson of Achaea'@en  0.927930
10   'Socrates'@en   'Adamantios Korais'@en  0.873166
11   'Socrates'@en            'Prodicus'@en  0.872791
12   'Socrates'@en  'Manuel Chrysoloras'@en  0.868033
13   'Socrates'@en               'Cebes'@en  0.867012
14   'Socrates'@en              'Pyrrho'@en  0.866274

For comparison, here is a run without dynamic scaling which returns fewer results, since
not all of the top-5 similar results for each input also satisfy the post conditions:

In [14]:
kgtk("""
      query --gc $MAIN --ac $ABSTRACT
      -i abstract -i labels -i claims
      --match 'abstract: (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 5, nprobe: 4}]->(y),
               claims:   (y)-[:P106]->(:Q4964182),
                         (y)-[:P31]->(:Q5),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q859", "Q868", "Q913"] and x != y'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                   ylabel       sim
0       'Plato'@en         'Aenesidemus'@en  0.936797
1       'Plato'@en           'Aristotle'@en  0.928277
2       'Plato'@en           'Menedemus'@en  0.926272
3       'Plato'@en             'Hicetas'@en  0.923380
4   'Aristotle'@en    'Philo of Larissa'@en  0.931010
5   'Aristotle'@en          'Speusippus'@en  0.930034
6   'Aristotle'@en               'Plato'@en  0.928277
7   'Aristotle'@en             'Hicetas'@en  0.927509
8    'Socrates'@en   'Adamantios Korais'@en  0.873166
9    'Socrates'@en            'Prodicus'@en  0.872791
10   'Socrates'@en  'Manuel Chrysoloras'@en  0.868033
11   'Socrates'@en               'Cebes'@en  0.867012

<A NAME="applications"></A>
## Example applications

### Image search

In the examples below, we use image similarity to link QNodes in Wikidata.  We
use the precomputed `IMAGE` graph cache (see above) which contains embeddings
for about 2.7M images linked to their respective Wikipedia pages and Wikidata
QNodes.

We start with a QNode (such a the one for Barack Obama below), find one or more
images associated with that QNode, look up their image embeddings and then find
other similar images and their associated QNodes.

We do not compute any image embeddings on the fly here, we simply link nodes based
on similarity of images they are associated with.  Note that this will often not
preserve the type of the source node as can be seen in the result for Barack Obama.
To enforce such type or other restrictions additional clauses can be added.
Since there are multiple images associated with Barack Obama, we use a `not exists`
clause to only look at the first one to make the results less cluttered:

Barack Obama:

In [15]:
out = !kgtk query --gc $IMAGE --ac $MAIN \
      -i wiki_image -i labels \
      --match 'image:  (ximg)-[rx {qnode: $SEED}]->(xiv), \
                       (xiv)-[r:kvec_topk_cos_sim {k: 10, nprobe: 8}]->(yimg), \
                       (yimg)-[ry {qnode: y}]->(), \
               labels: (y)-->(ylabel)' \
      --where 'not exists {image: (ximg2)-[{qnode: $SEED}]->() WHERE rowid(ximg2) < rowid(ximg) }' \
      --return 'y as qnode, ylabel as label, printf("%.5g", r.similarity) as sim, yimg as image' \
      --para  SEED=Q76 \
    / html

show_html(img_width=200)

To get more type appropriate matches, we can add a restriction to only return matches of
type human (`Q5`):

In [16]:
out = !kgtk query --gc $IMAGE --ac $MAIN \
      -i wiki_image -i labels -i claims \
      --match 'image:  (ximg)-[rx {qnode: $SEED}]->(xiv), \
                       (xiv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(yimg), \
                       (yimg)-[ry {qnode: y}]->(), \
               claims: (y)-[:P31]->(:Q5), \
               labels: (y)-->(ylabel)' \
      --where 'not exists {image: (ximg2)-[{qnode: $SEED}]->() WHERE rowid(ximg2) < rowid(ximg) }' \
      --return 'y as qnode, ylabel as label, printf("%.5g", r.similarity) as sim, yimg as image' \
      --para  SEED=Q76 \
    / html

show_html(img_width=200)

Charles Dadant: again, note that some of the results are not of type human but are
just linked to a similar image:

In [17]:
out = !kgtk query --gc $IMAGE --ac $MAIN \
      -i wiki_image -i labels \
      --match 'image: (ximg)-[rx {qnode: $SEED}]->(xiv), \
                      (xiv)-[r:kvec_topk_cos_sim {k: 10, nprobe: 8}]->(yimg), \
                      (yimg)-[ry {qnode: y}]->(), \
               labels: (y)-->(ylabel)' \
      --where 'not exists {image: (ximg2)-[{qnode: $SEED}]->() WHERE rowid(ximg2) < rowid(ximg) }' \
      --return 'y as qnode, ylabel as label, printf("%.5g", r.similarity) as sim, yimg as image' \
      --para  SEED=Q582964 \
      --limit 20 \
    / html

show_html(img_width=100)

Beaumaris Castle in Wales:

In [18]:
out = !kgtk query --gc $IMAGE --ac $MAIN \
      -i wiki_image -i labels \
      --match 'image: (ximg)-[rx {qnode: $SEED}]->(xiv), \
                      (xiv)-[r:kvec_topk_cos_sim {k: 20, nprobe: 8}]->(yimg), \
                      (yimg)-[ry {qnode: y}]->(), \
               labels: (y)-->(ylabel)' \
      --where 'not exists {image: (ximg2)-[{qnode: $SEED}]->() WHERE rowid(ximg2) < rowid(ximg) }' \
      --return 'y as qnode, ylabel as label, printf("%.5g", r.similarity) as sim, yimg as image' \
      --para  SEED=Q756815  \
    / html

show_html()

<A NAME="image-similarity-join"></A>

Castles similar to Beaumaris Castle but that are located in Austria (with
country (`P17`) equal to `Q40`).  We use a full vector join to get relevant
results further down the similarity list.  Note that even with `maxk=1024` we only
get a few results, and that the similarities are significantly lower than in the
previous example:

In [19]:
out = !kgtk query --gc $IMAGE --ac $MAIN \
      -i wiki_image -i labels -i claims \
      --match 'image: (ximg)-[rx {qnode: $SEED}]->(xiv), \
                      (xiv)-[r:kvec_topk_cos_sim {k: 20, nprobe: 4, maxk: 1024}]->(yimg), \
                      (yimg)-[ry {qnode: y}]->(), \
               labels: (y)-->(ylabel), \
               claims: (y)-[:P17]->(c:Q40)' \
      --where 'not exists {image: (ximg2)-[{qnode: $SEED}]->() WHERE rowid(ximg2) < rowid(ximg) }' \
      --return 'y as qnode, ylabel as label, printf("%.5g", r.similarity) as sim, yimg as image' \
      --para  SEED=Q756815  \
      --limit 20 \
    / html

show_html()

<A NAME="text-embedding-queries"></A>
## Text embedding queries:

In the following example we dynamically compute an embedding vector
for a text query and then use the similarity machinery to query for
matching QNodes.  The basic story here is the following:

- formulate a simple textual query such as 'Ancient Greek philosopher'
- create a KGTK input file for it/them and run them through the 'text-embedding' command
- query WD by finding top-k matches based on short abstract text embedding vectors
- then filter with additional restrictions to get more relevant results.

In [15]:
!echo '\
q1	Ancient Greek philosopher\n\
q2	castle in Austria\n\
q3	award-winning actor and comedian' | \
sed -e 's/^ *//' | \
kgtk cat --no-input-header --input-column-names node1 node2 --implied-label sentence \
   / add-id \
   / text-embedding -i - --model roberta-large-nli-mean-tokens \
          --output-data-format kgtk --output-property emb -o - \
   / query -i - --idx vector:node2 --as text_emb_queries --match '(x)' --return x

Running with logging level 30
2023-01-20 12:48:51.752147: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2023-01-20 12:48:51.752170: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.
/home/hans/.local/share/virtualenvs/ksink39/lib/python3.9/site-packages/torch/cuda/__init__.py:52: UserWarning: CUDA initialization: The NVIDIA driver on your system is too old (found version 9010). Please update your GPU driver by downloading and installing a new version from the URL: http://www.nvidia.com/Download/index.aspx Alternatively, go to: https://pytorch.org to install a PyTorch version that has been compiled with your version of the CUDA driver. (Triggered internally at  /pytorch/c10/cuda/CUDAFunctions.cpp:115.)
  return torch._C._cuda_getDeviceCount() > 0
Batches: 100%|████████████████████████████████████| 1/1 [00:00<00:00,  4.12it/s]
node1
q1
q2
q3

The above created 1024-D text embedding vector for three short queries
using the same text embedding type as used in our `ABSTRACT` embeddings.
Now we find Wikidata QNodes whose short-abstract embedding vector is most similar
to the queries, and that satisfy any additional conditions we might have.
Note that the queries in this example are much shorter than the first sentences
of our Wikipedia abstracts, thus the similarity matching is not very good, but
we can compensate for some of that by adding additional restrictions:

Matches for "Ancient Greek philosopher" that have occupation (`P106`) philosopher:

In [17]:
out = !kgtk query --ac $MAIN --ac $ABSTRACT \
      -i text_emb_queries -i abstract -i labels -i claims -i sentence \
      --match  'queries:  (x:q1)-->(xv), \
                abstract: (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 4}]->(y), \
                claims:   (y)-[:P106]->(:Q4964182), \
                labels:   (y)-->(yl), \
                sentence: (y)-->(ys)' \
      --return 'y as y, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

Matches for "castle in Austria" that have country (`P17`) Austria:

In [18]:
out = !kgtk query --ac $MAIN --ac $ABSTRACT \
      -i text_emb_queries -i abstract -i labels -i claims -i sentence \
      --match  'queries:  (x:q2)-->(xv), \
                abstract: (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
                claims:   (y)-[:P17]->(:Q40), \
                labels:   (y)-->(yl), \
                sentence: (y)-->(ys)' \
      --return 'y as y, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

Matches for "award-winning actor and comedian" that are of type human
and have country of citizenship (`P27`) UK:

In [19]:
out = !kgtk query --ac $MAIN --ac $ABSTRACT \
      -i text_emb_queries -i abstract -i labels -i claims -i sentence \
      --match  'queries:  (x:q3)-->(xv), \
                abstract: (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
                claims:   (y)-[:P31]->(:Q5), \
                          (y)-[:P27]->(:Q145), \
                labels:   (y)-->(yl), \
                sentence: (y)-->(ys)' \
      --return 'y as y, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

<A NAME="comparing-embeddings"></A>
## Comparing different types of embeddings

Below we run a number of similarity queries for each of our various types of
embeddings to see how they behave relative to each other.  Note how they
behave quite differently, reasonable for some use cases but not so much for others:

### Philosophers:

In [24]:
kgtk("""
      query --gc $MAIN --ac $COMPLEX
      -i complex -i labels
      --match 'complex:  (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q859", "Q868", "Q913"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                      ylabel       sim
0       'Plato'@en                  'Plato'@en  1.000000
1       'Plato'@en               'Socrates'@en  0.778851
2       'Plato'@en               'Epicurus'@en  0.768200
3       'Plato'@en                 'Aratus'@en  0.744131
4       'Plato'@en            'Hippocrates'@en  0.742684
5       'Plato'@en           'Theophrastus'@en  0.732886
6       'Plato'@en              'Aeschines'@en  0.727185
7       'Plato'@en    'Antiphon of Rhamnus'@en  0.725084
8       'Plato'@en                'Gorgias'@en  0.724764
9       'Plato'@en            'Antisthenes'@en  0.723077
10  'Aristotle'@en              'Aristotle'@en  1.000000
11  'Aristotle'@en              'Isocrates'@en  0.750148
12  'Aristotle'@en           'Theophrastus'@en  0.738264
13  'Aristotle'@en  'Augustin-Jean Fresnel'@en  0.733388
14  'Aristotle'@en               'Epicurus'@en  0.732325
15  'Aristotle'@en             'Democritus'@en  0.725204
16  'Aristotle'@en           'Philostratus'@en  0.724171
17  'Aristotle'@en                 'Thalis'@en  0.722407
18  'Aristotle'@en  'Simplicius of Cilicia'@en  0.721479
19  'Aristotle'@en    'Apollonius of Tyana'@en  0.719047
20   'Socrates'@en               'Socrates'@en  1.000000
21   'Socrates'@en              'Isocrates'@en  0.823131
22   'Socrates'@en             'Xenocrates'@en  0.817216
23   'Socrates'@en            'Antisthenes'@en  0.805441
24   'Socrates'@en                 'Seneca'@en  0.789611
25   'Socrates'@en               'Xenophon'@en  0.780991
26   'Socrates'@en             'Theopompus'@en  0.777682
27   'Socrates'@en            'Clitomachus'@en  0.774966
28   'Socrates'@en              'Aeschines'@en  0.773590
29   'Socrates'@en    'Antiphon of Rhamnus'@en  0.767029

In [25]:
kgtk("""
      query --gc $MAIN --ac $TRANSE
      -i transe -i labels
      --match 'transe:   (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q859", "Q868", "Q913"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                        ylabel       sim
0       'Plato'@en                    'Plato'@en  1.000000
1       'Plato'@en                 'Plotinus'@en  0.752719
2       'Plato'@en          'Cornelius Nepos'@en  0.723320
3       'Plato'@en               'Bret Harte'@en  0.706325
4       'Plato'@en           'Federico Caffè'@en  0.702316
5       'Plato'@en           'Marcel Duchamp'@en  0.677284
6       'Plato'@en    'Quintus Julius Balbus'@en  0.662613
7       'Plato'@en     'Laurentius Abstemius'@en  0.662188
8       'Plato'@en              'Celso Lucio'@en  0.654929
9       'Plato'@en      'Peter von Cornelius'@en  0.684013
10  'Aristotle'@en                'Aristotle'@en  1.000000
11  'Aristotle'@en  'Hans Christian Andersen'@en  0.838684
12  'Aristotle'@en        'Søren Kierkegaard'@en  0.819337
13  'Aristotle'@en         'Jean-Paul Sartre'@en  0.809694
14  'Aristotle'@en            'Ibn Taymiyyah'@en  0.797813
15  'Aristotle'@en     'Carl Friedrich Gauss'@en  0.795596
16  'Aristotle'@en            'Louis Agassiz'@en  0.788264
17  'Aristotle'@en            'Sigmund Freud'@en  0.783095
18  'Aristotle'@en              'Baháʼu'lláh'@en  0.777348
19  'Aristotle'@en          'Alexis Clairaut'@en  0.740817
20   'Socrates'@en                 'Socrates'@en  1.000000
21   'Socrates'@en                   'Euclid'@en  0.822714
22   'Socrates'@en                'Menexenus'@en  0.819183
23   'Socrates'@en                 'Epicurus'@en  0.800473
24   'Socrates'@en  'Titus Pomponius Atticus'@en  0.784178
25   'Socrates'@en                  'Hippias'@en  0.781964
26   'Socrates'@en               'Phaenarete'@en  0.778690
27   'Socrates'@en               'Lamprocles'@en  0.776861
28   'Socrates'@en              'Antisthenes'@en  0.773629
29   'Socrates'@en               'Hermogenes'@en  0.773619

In [20]:
out = !kgtk query --gc $MAIN --ac $ABSTRACT \
      -i abstract -i labels -i sentence \
      --match 'abstract: (x)-->(xv), \
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
               labels:   (x)-->(xl), (y)-->(yl), \
               sent:     (y)-->(ys)' \
      --where 'x in ["Q859", "Q868", "Q913"]' \
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

### Countries:

In [27]:
kgtk("""
      query --gc $MAIN --ac $COMPLEX
      -i complex -i labels
      --match 'complex:  (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q40", "Q41", "Q30"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

                           xlabel                         ylabel       sim
0   'United States of America'@en  'United States of America'@en  1.000000
1   'United States of America'@en            'United Kingdom'@en  0.819738
2   'United States of America'@en                    'France'@en  0.810034
3   'United States of America'@en                    'Canada'@en  0.793150
4   'United States of America'@en                     'Spain'@en  0.791431
5   'United States of America'@en                 'Australia'@en  0.780531
6   'United States of America'@en                  'Thailand'@en  0.742816
7   'United States of America'@en               'South Korea'@en  0.734353
8   'United States of America'@en                     'India'@en  0.730247
9   'United States of America'@en                    'Mexico'@en  0.717486
10                   'Austria'@en                   'Austria'@en  1.000000
11                   'Austria'@en                    'Poland'@en  0.776092
12                   'Austria'@en                   'Hungary'@en  0.772626
13                   'Austria'@en                   'Germany'@en  0.766456
14                   'Austria'@en                 'Australia'@en  0.762866
15                   'Austria'@en  'United States of America'@en  0.759724
16                   'Austria'@en                     'Spain'@en  0.753217
17                   'Austria'@en                   'Iceland'@en  0.748018
18                   'Austria'@en            'United Kingdom'@en  0.744055
19                   'Austria'@en                 'Guatemala'@en  0.724540
20                    'Greece'@en                    'Greece'@en  1.000000
21                    'Greece'@en                    'Turkey'@en  0.777969
22                    'Greece'@en                   'Romania'@en  0.742026
23                    'Greece'@en                   'Ukraine'@en  0.734370
24                    'Greece'@en                   'Hungary'@en  0.733742
25                    'Greece'@en                    'Poland'@en  0.733643
26                    'Greece'@en                   'Austria'@en  0.733425
27                    'Greece'@en                  'Thailand'@en  0.732736
28                    'Greece'@en                 'Australia'@en  0.725093
29                    'Greece'@en               'South Korea'@en  0.722797

In [28]:
kgtk("""
      query --gc $MAIN --ac $TRANSE
      -i transe -i labels
      --match 'transe:   (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q40", "Q41", "Q30"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

,xlabel,ylabel,sim
0,'United States of America'@en,'United States of America'@en,1.000000
1,'United States of America'@en,'State of Scott'@en,0.790001
2,'United States of America'@en,'.سورية'@en,0.781829
3,'United States of America'@en,'Republic of South Carolina'@en,0.776540
4,'United States of America'@en,'State of Kanawha'@en,0.770454
5,'United States of America'@en,'Wedge: The Secret War between the FBI and CIA...,0.762854
6,'United States of America'@en,'Marin County'@en,0.741442
7,'United States of America'@en,'Light Stations of the United States MPS'@en,0.731502
8,'United States of America'@en,'Republic of Florida'@en,0.730721
9,'United States of America'@en,'Women's Professional Racquetball Organization...,0.737493
10,'Austria'@en,'Austria'@en,1.000000
11,'Austria'@en,'Ostösterreich'@en,0.821322
12,'Austria'@en,'Westösterreich'@en,0.792200
13,'Austria'@en,'WikiProject Austria'@en,0.787478
14,'Austria'@en,'Südösterreich'@en,0.778928
15,'Austria'@en,'Lethal Records'@en,0.767960
16,'Austria'@en,'Spitzer Riegel'@en,0.762144
17,'Austria'@en,'International Association of Judges'@en,0.756613
18,'Austria'@en,'Lackenkar'@en,0.753951
19,'Austria'@en,'World Sustainable Energy Days'@en,0.733782
20,'Greece'@en,'Greece'@en,1.000000
21,'Greece'@en,'Third Hellenic Republic'@en,0.854657
22,'Greece'@en,'Greece'@en,0.836717
23,'Greece'@en,'Dropull municipality'@en,0.800688
24,'Greece'@en,'hockey in Greece'@en,0.786580
25,'Greece'@en,'Kalamatianos'@en,0.764173
26,'Greece'@en,'baseball in Greece'@en,0.753401
27,'Greece'@en,'motorsports in Greece'@en,0.724663
28,'Greece'@en,'Operation Manna'@en,0.722541
29,'Greece'@en,'Hierissos (Greece)'@en,0.721703

In [21]:
out = !kgtk query --gc $MAIN --ac $ABSTRACT \
      -i abstract -i labels -i sentence \
      --match 'abstract: (x)-->(xv), \
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
               labels:   (x)-->(xl), (y)-->(yl), \
               sent:     (y)-->(ys)' \
      --where 'x in ["Q40", "Q41", "Q30"]' \
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

### Types of animals:

In [30]:
kgtk("""
      query --gc $MAIN --ac $COMPLEX
      -i complex -i labels
      --match 'complex:  (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q144", "Q146", "Q726"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                    ylabel       sim
0         'dog'@en                  'dog'@en  1.000000
1         'dog'@en                  'hat'@en  0.721310
2         'dog'@en            'house cat'@en  0.706597
3         'dog'@en           'body armor'@en  0.692382
4         'dog'@en                'woman'@en  0.687660
5         'dog'@en              'peafowl'@en  0.686448
6         'dog'@en              'bouquet'@en  0.678995
7         'dog'@en          'hunting dog'@en  0.667602
8         'dog'@en                 'logo'@en  0.647672
9         'dog'@en              'sceptre'@en  0.644042
10  'house cat'@en            'house cat'@en  1.000000
11  'house cat'@en               'monkey'@en  0.721723
12  'house cat'@en                'scarf'@en  0.717398
13  'house cat'@en            'old woman'@en  0.699330
14  'house cat'@en            'mythology'@en  0.689698
15  'house cat'@en               'caress'@en  0.686948
16  'house cat'@en        'maternal bond'@en  0.681039
17  'house cat'@en           'body armor'@en  0.678056
18  'house cat'@en          'soap bubble'@en  0.674951
19  'house cat'@en              'lioness'@en  0.671338
20      'horse'@en                'horse'@en  1.000000
21      'horse'@en            'racehorse'@en  0.768213
22      'horse'@en                  'dog'@en  0.719937
23      'horse'@en             'standing'@en  0.696390
24      'horse'@en            'house cat'@en  0.682117
25      'horse'@en    'broad-leaved tree'@en  0.663244
26      'horse'@en                  'sky'@en  0.662595
27      'horse'@en  'horse-drawn vehicle'@en  0.641660
28      'horse'@en              'drapery'@en  0.628287
29      'horse'@en              'sceptre'@en  0.618746

In [31]:
kgtk("""
      query --gc $MAIN --ac $TRANSE
      -i transe -i labels
      --match 'transe:   (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q144", "Q146", "Q726"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                   ylabel       sim
0         'dog'@en                 'dog'@en  1.000000
1         'dog'@en   'Salty and Roselle'@en  0.840819
2         'dog'@en         'Fred Basset'@en  0.831087
3         'dog'@en                'Theo'@en  0.821203
4         'dog'@en  'Heaven Sent Brandy'@en  0.820738
5         'dog'@en            'Old Hemp'@en  0.818933
6         'dog'@en               'Rubia'@en  0.816860
7         'dog'@en             'Alcmène'@en  0.815260
8         'dog'@en        'Alex the Dog'@en  0.813087
9         'dog'@en                'Edda'@en  0.810013
10  'house cat'@en           'house cat'@en  1.000000
11  'house cat'@en                'Mike'@en  0.813615
12  'house cat'@en             'Tiddles'@en  0.796653
13  'house cat'@en              'Merlin'@en  0.788791
14  'house cat'@en                'goat'@en  0.785772
15  'house cat'@en                'Luca'@en  0.774328
16  'house cat'@en             'Musashi'@en  0.770614
17  'house cat'@en              'Kotora'@en  0.792088
18  'house cat'@en                 'Liv'@en  0.779756
19  'house cat'@en               'Pixel'@en  0.779563
20      'horse'@en               'horse'@en  1.000000
21      'horse'@en        'Sindhi horse'@en  0.839297
22      'horse'@en       'male organism'@en  0.742897
23      'horse'@en   'allergy to horses'@en  0.713499
24      'horse'@en        'Thoroughbred'@en  0.712364
25      'horse'@en           'racehorse'@en  0.711143
26      'horse'@en     'female organism'@en  0.680730
27      'horse'@en             'gelding'@en  0.653782
28      'horse'@en            'Forehand'@en  0.678915
29      'horse'@en             'Pierata'@en  0.673963

In [22]:
out = !kgtk query --gc $MAIN --ac $ABSTRACT \
      -i abstract -i labels -i sentence \
      --match 'abstract: (x)-->(xv), \
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
               labels:   (x)-->(xl), (y)-->(yl), \
               sent:     (y)-->(ys)' \
      --where 'x in ["Q144", "Q146", "Q726"]' \
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

### Handball:

In [33]:
kgtk("""
      query --gc $MAIN --ac $COMPLEX
      -i complex -i labels
      --match 'complex:  (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q8418"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

          xlabel                ylabel       sim
0  'handball'@en         'handball'@en  1.000000
1  'handball'@en   'beach handball'@en  0.755496
2  'handball'@en     'field hockey'@en  0.747243
3  'handball'@en         'korfball'@en  0.735095
4  'handball'@en  'indoor handball'@en  0.729936
5  'handball'@en         'biathlon'@en  0.705106
6  'handball'@en       'volleyball'@en  0.704901
7  'handball'@en         'softball'@en  0.686220
8  'handball'@en   'field handball'@en  0.683182
9  'handball'@en     'orienteering'@en  0.666485

In [34]:
kgtk("""
      query --gc $MAIN --ac $TRANSE
      -i transe -i labels
      --match 'transe:   (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q8418"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

          xlabel                               ylabel       sim
0  'handball'@en                        'handball'@en  1.000000
1  'handball'@en  'Wikipedia:WikiProject Handball'@en  0.830904
2  'handball'@en          'women's beach handball'@en  0.714068
3  'handball'@en                     'ski jumping'@en  0.700670
4  'handball'@en                          'futsal'@en  0.689599
5  'handball'@en                 'indoor handball'@en  0.687324
6  'handball'@en                        'biathlon'@en  0.683123
7  'handball'@en    'women's association football'@en  0.678200
8  'handball'@en                           'Qatch'@en  0.659170
9  'handball'@en                          'hockey'@en  0.649488

In [23]:
out = !kgtk query --gc $MAIN --ac $ABSTRACT \
      -i abstract -i labels -i sentence \
      --match 'abstract: (x)-->(xv), \
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
               labels:   (x)-->(xl), (y)-->(yl), \
               sent:     (y)-->(ys)' \
      --where 'x in ["Q8418"]' \
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

### Journalist:

In [36]:
kgtk("""
      query --gc $MAIN --ac $COMPLEX
      -i complex -i labels
      --match 'complex:  (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q1930187"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                     ylabel       sim
0  'journalist'@en            'journalist'@en  1.000000
1  'journalist'@en  'television presenter'@en  0.806589
2  'journalist'@en                'writer'@en  0.794790
3  'journalist'@en                  'poet'@en  0.785165
4  'journalist'@en            'playwright'@en  0.775690
5  'journalist'@en            'politician'@en  0.756889
6  'journalist'@en    'short story writer'@en  0.756759
7  'journalist'@en                 'actor'@en  0.751951
8  'journalist'@en           'film critic'@en  0.743542
9  'journalist'@en               'teacher'@en  0.743155

In [37]:
kgtk("""
      query --gc $MAIN --ac $TRANSE
      -i transe -i labels
      --match 'transe:   (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q1930187"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

            xlabel                              ylabel       sim
0  'journalist'@en                     'journalist'@en  1.000000
1  'journalist'@en           'Category:Journalists'@en  0.719601
2  'journalist'@en           'journalistic scandal'@en  0.693972
3  'journalist'@en              'children's writer'@en  0.667045
4  'journalist'@en                   'László Török'@en  0.658004
5  'journalist'@en                      'columnist'@en  0.650447
6  'journalist'@en                       'novelist'@en  0.644886
7  'journalist'@en          'foreign correspondent'@en  0.626349
8  'journalist'@en  'Category:Journalists of Ceará'@en  0.650367
9  'journalist'@en            'business journalist'@en  0.640736

In [24]:
out = !kgtk query --gc $MAIN --ac $ABSTRACT \
      -i abstract -i labels -i sentence \
      --match 'abstract: (x)-->(xv), \
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
               labels:   (x)-->(xl), (y)-->(yl), \
               sent:     (y)-->(ys)' \
      --where 'x in ["Q1930187"]' \
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()

### Head of state:

In [39]:
kgtk("""
      query --gc $MAIN --ac $COMPLEX
      -i complex -i labels
      --match 'complex:  (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q48352"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

               xlabel                                       ylabel       sim
0  'head of state'@en                           'head of state'@en  1.000000
1  'head of state'@en                      'head of government'@en  0.831704
2  'head of state'@en                  'leader of organisation'@en  0.715446
3  'head of state'@en                                'governor'@en  0.669001
4  'head of state'@en                          'consul general'@en  0.642665
5  'head of state'@en                            'Floor leader'@en  0.605335
6  'head of state'@en                        'defence minister'@en  0.691881
7  'head of state'@en                       'French ambassador'@en  0.636968
8  'head of state'@en                   'supreme court justice'@en  0.635844
9  'head of state'@en  'Executive Secretary of the Secretariat'@en  0.568668

In [40]:
kgtk("""
      query --gc $MAIN --ac $TRANSE
      -i transe -i labels
      --match 'transe:   (x)-->(xv),
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y),
               labels:   (x)-->(xl), (y)-->(yl)'
      --where 'x in ["Q48352"]'
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim'
     """)

               xlabel                   ylabel       sim
0  'head of state'@en       'head of state'@en  1.000000
1  'head of state'@en  'head of government'@en  0.861243
2  'head of state'@en            'governor'@en  0.792502
3  'head of state'@en      'prime minister'@en  0.789789
4  'head of state'@en             'speaker'@en  0.781205
5  'head of state'@en    'Governor-general'@en  0.730634
6  'head of state'@en    'attorney general'@en  0.713970
7  'head of state'@en   'colonial governor'@en  0.707370
8  'head of state'@en    'foreign minister'@en  0.703298
9  'head of state'@en            'minister'@en  0.765075

In [25]:
out = !kgtk query --gc $MAIN --ac $ABSTRACT \
      -i abstract -i labels -i sentence \
      --match 'abstract: (x)-->(xv), \
                         (xv)-[r:kvec_topk_cos_sim {k: 10, maxk: 1024, nprobe: 8}]->(y), \
               labels:   (x)-->(xl), (y)-->(yl), \
               sent:     (y)-->(ys)' \
      --where 'x in ["Q48352"]' \
      --return 'xl as xlabel, yl as ylabel, r.similarity as sim, kgtk_lqstring_text(ys) as ysent' \
    / html

show_html()